/*          BASE            */

*,
*::after,
*::before {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}

html {
    font-size: 62.5%;
}

body {
    box-sizing: border-box;
    padding: 3rem;

}


//              TYPOGRAPHY

body {
    font-family: "Lato", sans-serif;
    font-weight: 400;
    /*font-size: 16px;*/
    line-height: 1.7;
    font-size: 1.6rem;
    color: rgb(71, 71, 71);
    
    //background 
    background-image: linear-gradient(to bottom left, #51bdd8d8 60%,#3293c0);
   
    //clouds background-image: linear-gradient(to bottom, #123974d8, #3b8cc2d8);   
    
    //color: rgb(226, 226, 226);
    //rain background-image: linear-gradient(to bottom, #01132ed8, #256692d8); 
}