/*          BASE            */

*,
*::after,
*::before {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}

html {
    font-size: 62.5%;
}

body {
    box-sizing: border-box;
    padding: 3rem;

}


//              TYPOGRAPHY

body {
    font-family: "Lato", sans-serif;
    font-weight: 400;
    /*font-size: 16px;*/
    line-height: 1.7;
    font-size: 1.6rem;
    color: rgb(80, 80, 80);

    //background 
    background-color: rgba($color: #75cee4d8, $alpha: 1.0);
}